node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/__tests__/performance/stress/reports/
/__tests__/performance/spike/reports/

.env
coverage

.gemini/
gha-creds-*.json
